body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
}

.nav {
  height: 50px;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  margin-left: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  margin: 30px;
  font-size: 22px;
}

.landing-header {
  margin-left: 60px;
}

.header-name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, italic;
  font-size: 64px;
  display: inline-block;
}

.header-description {
  font-size: 27px;
  margin-left: 20px;
  margin-top: 20px;
}

.landing-posters-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
  row-gap: 120px;
  margin-top: 80px;
  margin-left: 60px;
}

.landing-poster {
  align-items: center;
}

.landing-poster-description {
  font-style: italic;
}

.landing-poster-vid {
  height: 250px;
  width: 450px;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #555555, #686868);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}
